[data-theme="dark"] {
  /* Primitive Colors - Control */
  --color-control-default: #0099ff;
  --color-control-default-delta: #0091f1;
  --color-control-default-contrast: #323232;
  --color-control-muted: #474747;
  --color-control-muted-contrast: #ffffff;
  --color-control-stroke: #575757;
  --color-control-stroke-delta: #707070;

  /* Primitive Colors - Core */
  --color-core-canvas: #1a1a1a;
  --color-core-surface: #262626;
  --color-core-base: #f8f8fb;
  --color-core-display: #ffffff;
  --color-core-faint: #707070;
  --color-core-muted: #9d9da9;

  /* Primitive Colors - Primary */
  --color-primary-default: #0099ff;
  --color-primary-default-stop: #0055ff;
  --color-primary-default-delta: #0055ff;
  --color-primary-default-contrast: #ffffff;
  --color-primary-muted: #1f1f1f;
  --color-primary-muted-contrast: #0099ff;

  /* Primitive Colors - Secondary */
  --color-secondary-default: #a77ff4;
  --color-secondary-default-stop: #a77ff4;
  --color-secondary-default-delta: #9c68ff;
  --color-secondary-default-contrast: #ffffff;

  /* Primitive Colors - Neutral */
  --color-neutral-default: #eaeaf1;
  --color-neutral-default-delta: #f8f8fb;
  --color-neutral-default-contrast: #262626;
  --color-neutral-muted: #3d3d3d;
  --color-neutral-muted-delta: #474747;
  --color-neutral-muted-contrast: #eaeaf1;

  /* Primitive Colors - Promo */
  --color-promo-default: #a378ff;
  --color-promo-default-contrast: #ffffff;
  --color-promo-muted: #1f1f1f;
  --color-promo-muted-contrast: #a378ff;

  /* Primitive Colors - Danger */
  --color-danger-default: #fa2f62;
  --color-danger-default-delta: #ef0640;
  --color-danger-default-contrast: #fff5f7;
  --color-danger-muted: #1f1f1f;
  --color-danger-muted-contrast: #fa2f62;

  /* Primitive Colors - Warning */
  --color-warning-default: #ffc233;
  --color-warning-default-contrast: #523900;
  --color-warning-muted: #1f1f1f;
  --color-warning-muted-contrast: #ffc233;

  /* Primitive Colors - Success */
  --color-success-default: #00d78c;
  --color-success-default-contrast: #002c19;
  --color-success-muted: #1f1f1f;
  --color-success-muted-contrast: #00d78c;

  /* Primitive Colors - Info */
  --color-info-default: #0099ff;
  --color-info-default-contrast: #ffffff;
  --color-info-muted: #1f1f1f;
  --color-info-muted-contrast: #34aeff;
  --color-neutral-stroke: #3d3d3d;
  --color-neutral-stroke-delta: #575757;
}
