[submodule "apps/velia"]
	path = apps/velia
	url = git@git.upmind.io:upmind/groups/frontend-team/velia-checkout.git
[submodule "packages/types"]
	path = packages/types
	url = git@github.com:upmind/types.git
[submodule "packages/ui"]
	path = packages/ui
	url = git@github.com:upmind/upmind-ui.git
[submodule "apps/hosting"]
	path = apps/hosting
	url = git@git.upmind.io:upmind/groups/frontend-team/hosting.com-checkout.git
[submodule "docs/published-docs"]
	path = docs/published-docs
	url = git@github.com:upmind/mintlify-docs.git
	branch = develop
