node_modules
dist
.idea/
*.local
*.log
.DS_Store
*storybook.log
**/.firebase/**
.tsbuildinfo
bin/pnpm
bin/pnpx
tsconfig.tsbuildinfo

# Playwright
tests/Playwright/e2e/test-output/
tests/Playwright/e2e/reports/
tests/Playwright/blob-report/
tests/Playwright/playwright/.cache/
