[submodule "packages/types"]
	path = packages/types
	url = git@github.com:upmind/types.git
[submodule "docs/published-docs"]
	path = docs/published-docs
	url = git@github.com:upmind/mintlify-docs.git
	branch = develop
[submodule "design-system"]
	path = design-system
	url = git@git.upmind.io:upmind/upmind-ui.git
	branch = ui-migration
