{
  "./**/*.{js,ts,html,json,vue}": "pnpm format",
  "tests/features/**/*.feature": "bash tests/features/lint-feature-files.sh",
  "packages/*/src/**/*.feature": "bash tests/features/lint-feature-files.sh"
}
