/* color palette from <https://github.com/vuejs/theme> */
:root {
  --upm-c-white: #ffffff;
  --upm-c-white-hard: hsla(0, 0%, 95%, 0.75);
  --upm-c-white-soft: hsla(0, 0%, 95%, 0.333);
  --upm-c-white-mute: hsla(0, 0%, 95%, 1);

  --upm-c-black: #181818;
  --upm-c-black-soft: #3a3a3a;
  --upm-c-black-mute: #4a4a4a;
  --upm-c-black-semi: rgba(0, 0, 0, 0.15);
  --upm-c-black-semi-light: rgba(0, 0, 0, 0.03);

  --upm-c-indigo: #2c3e50;

  /* ------------------------------------------------------------------------ */

  --upm-c-primary: hsla(210, 29%, 29%, 1);
  --upm-c-primary-hard: hsla(210, 29%, 19%, 1);
  --upm-c-primary-soft: hsla(210, 29%, 39%, 1);
  --upm-c-primary-muted: hsla(210, 29%, 29%, 0.333);

  --upm-c-secondary: hsla(36, 100%, 65%, 1);
  --upm-c-secondary-hard: hsla(36, 100%, 55%, 1);
  --upm-c-secondary-soft: hsla(36, 100%, 79%, 1);
  --upm-c-secondary-muted: hsla(36, 100%, 65%, 0.333);

  --upm-c-success: hsla(154, 48%, 49%, 1);
  --upm-c-success-muted: hsla(154, 100%, 95%, 0.333);

  --upm-c-error: hsla(6, 100%, 75%, 1);
  --upm-c-error-muted: hsla(6, 100%, 95%, 0.333);

  --upm-c-warning: hsla(25, 100%, 75%, 1);
  --upm-c-warning-muted: hsla(25, 100%, 95%, 0.333);

  --upm-c-info: hsla(180, 100%, 75%, 1);
  --upm-c-info-muted: hsla(180, 100%, 95%, 0.333);

  --upm-c-disabled: rgba(60, 60, 60, 0.12);
  --upm-c-disabled-muted: rgba(60, 60, 60, 0.05);

  /* ------------------------------------------------------------------------ */

  --upm-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --upm-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --upm-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --upm-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --upm-c-text-light-1: var(--upm-c-indigo);
  --upm-c-text-light-2: rgba(60, 60, 60, 0.66);
  --upm-c-text-dark-1: var(--upm-c-white);
  --upm-c-text-dark-2: rgba(235, 235, 235, 1);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--upm-c-white);
  --color-background-soft: var(--upm-c-white-soft);
  --color-background-mute: var(--upm-c-white-mute);

  --color-border: var(--upm-c-divider-light-2);
  --color-border-hover: var(--upm-c-divider-light-1);

  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --shadow-hover: 0 0 0.25em 0.125em rgba(0, 0, 0, 0.1);

  --overlay: rgba(255, 255, 255, 0.667);
  --overlay-text: rgba(0, 0, 0, 1);

  --color-heading: var(--upm-c-text-light-1);
  --color-text: var(--upm-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--upm-c-black);
    --color-background-soft: var(--upm-c-black-soft);
    --color-background-mute: var(--upm-c-black-mute);

    --color-border: var(--upm-c-divider-dark-2);
    --color-border-hover: var(--upm-c-divider-dark-1);

    --color-heading: var(--upm-c-text-dark-1);
    --color-text: var(--upm-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
