/* color palette from <https://github.com/vuejs/theme> */
:root {
  --upm-c-white: #ffffff;
  --upm-c-white-soft: hsla(0, 0%, 95%, 0.333);
  --upm-c-white-mute: hsla(0, 0%, 95%, 1);

  --upm-c-black: #181818;
  --upm-c-black-soft: #3a3a3a;
  --upm-c-black-mute: #4a4a4a;

  --upm-c-indigo: #2c3e50;

  /* ------------------------------------------------------------------------ */

  --upm-c-primary: hsla(160, 100%, 37%, 1);
  --upm-c-primary-muted: hsla(160, 100%, 37%, 0.2);

  --upm-c-success: hsla(150, 100%, 75%, 1);
  --upm-c-success-muted: hsla(150, 100%, 95%, 0.333);

  --upm-c-error: hsla(6, 100%, 75%, 1);
  --upm-c-error-muted: hsla(6, 100%, 95%, 0.333);

  --upm-c-warning: hsla(25, 100%, 75%, 1);
  --upm-c-warning-muted: hsla(25, 100%, 95%, 0.333);

  --upm-c-info: hsla(180, 100%, 75%, 1);
  --upm-c-info-muted: hsla(180, 100%, 95%, 0.333);

  --upm-c-disabled: hsla(160, 100%, 75%, 0.8);
  --upm-c-disabled-muted: hsla(160, 100%, 95%, 0.333);

  /* ------------------------------------------------------------------------ */

  --upm-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --upm-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --upm-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --upm-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --upm-c-text-light-1: var(--upm-c-indigo);
  --upm-c-text-light-2: rgba(60, 60, 60, 0.66);
  --upm-c-text-dark-1: var(--upm-c-white);
  --upm-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--upm-c-white);
  --color-background-soft: var(--upm-c-white-soft);
  --color-background-mute: var(--upm-c-white-mute);

  --color-border: var(--upm-c-divider-light-2);
  --color-border-hover: var(--upm-c-divider-light-1);

  --shadow: 0 0 0.125em 0.0625em rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 0 0.25em 0.125em rgba(0, 0, 0, 0.1);

  --color-heading: var(--upm-c-text-light-1);
  --color-text: var(--upm-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--upm-c-black);
    --color-background-soft: var(--upm-c-black-soft);
    --color-background-mute: var(--upm-c-black-mute);

    --color-border: var(--upm-c-divider-dark-2);
    --color-border-hover: var(--upm-c-divider-dark-1);

    --color-heading: var(--upm-c-text-dark-1);
    --color-text: var(--upm-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
