.history
.husky
.vscode
coverage
dist
node_modules
node_modules
public
vite.config.ts
/dist/**
/build/**
/coverage/**
/docs/*
!/docs/*.js
!/docs/tools/
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
!.eslintrc.js
/src/presets/**
