[data-theme="mochahost"] {
  /* Core colors */
  --color-core-canvas: #f7f7f7;
  --color-core-surface: #ffffff;
  --color-core-base: #232532;
  --color-core-display: #232532;
  --color-core-faint: #9d9da9;
  --color-core-muted: #89898a;
  --color-core-skeleton: #2626260c;
  --color-core-overlay: #3d3d3dcc;

  /* Primary colors */
  --color-primary-default: #ffd900;
  --color-primary-default-stop: #ffd900;
  --color-primary-default-delta: #e6c300;
  --color-primary-default-contrast: #333333;
  --color-primary-muted: #f8f8fb;
  --color-primary-muted-contrast: #333333;

  /* Secondary colors */
  --color-secondary-default: #40a1e8;
  --color-secondary-default-stop: #40a1e8;
  --color-secondary-default-delta: #3691d4;
  --color-secondary-default-contrast: #ffffff;

  /* Neutral colors */
  --color-neutral-default: #707070;
  --color-neutral-default-delta: #575757;
  --color-neutral-default-contrast: #ffffff;
  --color-neutral-muted: #f8f8fb;
  --color-neutral-muted-delta: #f2f2f9;
  --color-neutral-muted-contrast: #575757;
  --color-neutral-stroke: #eaeaf1;
  --color-neutral-stroke-delta: #cdcddb;

  /* Control colors */
  --color-control-default: #40a1e8;
  --color-control-default-delta: #3691d4;
  --color-control-default-contrast: #ffffff;
  --color-control-muted: #f8f8fb;
  --color-control-muted-contrast: #232532;
  --color-control-stroke: #eaeaf1;
  --color-control-stroke-delta: #d5d5de;

  /* Promo colors */
  --color-promo-default: #40a1e8;
  --color-promo-default-contrast: #ffffff;
  --color-promo-muted: #f7f5ff;
  --color-promo-muted-contrast: #40a1e8;

  /* Icons colors */
  --icon-primary: #40a1e8;
  --icon-neutral: #333333;

  /* Strokes */
  --stroke-icon: 2px;

  /* Radius */
  --button-radius: 4px;
  --control-radius: 4px;
}
