[data-theme="retro"] {
  /* ------------------------------------------------------------------------ */
  /* Grayscale */
  /* ------------------------------------------------------------------------ */

  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray: #6d6d6d;
  --color-gray-50: #f6f6f6;
  --color-gray-100: #e7e7e7;
  --color-gray-200: #d1d1d1;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #888888;
  --color-gray-500: #6d6d6d;
  --color-gray-600: #5d5d5d;
  --color-gray-700: #4f4f4f;
  --color-gray-800: #424242;
  --color-gray-900: #3d3d3d;
  --color-gray-950: #262626;
  --color-gray-content: #e7e7e7;

  /* ------------------------------------------------------------------------ */
  /* Base */
  /* ------------------------------------------------------------------------ */
  --color-base: #ece3ca;
  --color-base-50: #faf8f2;
  --color-base-100: #f4efe0;
  --color-base-200: #ece3ca;
  --color-base-300: #dac697;
  --color-base-400: #caaa6d;
  --color-base-500: #be9451;
  --color-base-600: #b18045;
  --color-base-700: #93673b;
  --color-base-800: #775335;
  --color-base-900: #61442d;
  --color-base-950: #342316;
  --color-base-content: #282425;

  /* ------------------------------------------------------------------------ */
  /* Primary */
  /* ------------------------------------------------------------------------ */

  --color-primary: #df5a54;
  --color-primary-50: #fdf3f3;
  --color-primary-100: #fbe6e5;
  --color-primary-200: #f9d1cf;
  --color-primary-300: #f4b0ad;
  --color-primary-400: #ef9995;
  --color-primary-500: #df5a54;
  --color-primary-600: #cb3e37;
  --color-primary-700: #aa312b;
  --color-primary-800: #8d2c27;
  --color-primary-900: #762a26;
  --color-primary-950: #40110f;
  --color-primary-content: #282425;

  /* ------------------------------------------------------------------------ */
  /* Secondary */
  /* ------------------------------------------------------------------------ */

  --color-secondary: #06120c;
  --color-secondary-50: #f1f8f4;
  --color-secondary-100: #deede2;
  --color-secondary-200: #bfdbc9;
  --color-secondary-300: #a4cbb4;
  --color-secondary-400: #65a280;
  --color-secondary-500: #448562;
  --color-secondary-600: #32694d;
  --color-secondary-700: #285440;
  --color-secondary-800: #224334;
  --color-secondary-900: #1c382b;
  --color-secondary-950: #0f1f18;
  --color-secondary-content: #282425;

  /* ------------------------------------------------------------------------ */
  /* Tertiary */
  /* ------------------------------------------------------------------------ */

  --color-tertiary: #eaad08;
  --color-tertiary-50: #fefbe8;
  --color-tertiary-100: #fef7c3;
  --color-tertiary-200: #feed8a;
  --color-tertiary-300: #fdd835;
  --color-tertiary-400: #fac615;
  --color-tertiary-500: #eaad08;
  --color-tertiary-600: #ca8504;
  --color-tertiary-700: #a15e07;
  --color-tertiary-800: #854a0e;
  --color-tertiary-900: #713d12;
  --color-tertiary-950: #421e06;
  --color-tertiary-content: #fefbe8;

  /* ------------------------------------------------------------------------ */
  /* Accent */
  /* ------------------------------------------------------------------------ */

  --color-accent: #d67139;
  --color-accent-50: #fcf6f0;
  --color-accent-100: #f9eadb;
  --color-accent-200: #f1d3b7;
  --color-accent-300: #e8b589;
  --color-accent-400: #dc8850;
  --color-accent-500: #d67139;
  --color-accent-600: #c85b2e;
  --color-accent-700: #a64728;
  --color-accent-800: #853927;
  --color-accent-900: #6c3122;
  --color-accent-950: #3a1710;
  --color-accent-content: #282425;

  /* ------------------------------------------------------------------------ */
  /* Neutral */
  /* ------------------------------------------------------------------------ */

  --color-neutral: #98745a;
  --color-neutral-50: #f6f3f0;
  --color-neutral-100: #e9e1d8;
  --color-neutral-200: #d4c5b4;
  --color-neutral-300: #bba289;
  --color-neutral-400: #a78568;
  --color-neutral-500: #98745a;
  --color-neutral-600: #825f4c;
  --color-neutral-700: #6d4c41;
  --color-neutral-800: #5a3f39;
  --color-neutral-900: #4f3834;
  --color-neutral-950: #2c1e1c;
  --color-neutral-content: #ede6d4;

  /* ------------------------------------------------------------------------ */
  /* Info */
  /* ------------------------------------------------------------------------ */

  --color-info: #2563eb;
  --color-info-50: #eff4ff;
  --color-info-100: #dbe6fe;
  --color-info-200: #bfd3fe;
  --color-info-300: #93b4fd;
  --color-info-400: #6090fa;
  --color-info-500: #3b76f6;
  --color-info-600: #2563eb;
  --color-info-700: #1d58d8;
  --color-info-800: #1e4baf;
  --color-info-900: #1e408a;
  --color-info-950: #172a54;
  --color-info-content: #dbe6fe;

  /* ------------------------------------------------------------------------ */
  /* Success */
  /* ------------------------------------------------------------------------ */

  --color-success: #16a34a;
  --color-success-50: #f0fdf5;
  --color-success-100: #dcfce8;
  --color-success-200: #bbf7d1;
  --color-success-300: #86efad;
  --color-success-400: #4ade81;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803c;
  --color-success-800: #166533;
  --color-success-900: #14532b;
  --color-success-950: #052e14;
  --color-success-content: #dcfce8;

  /* ------------------------------------------------------------------------ */
  /* Error */
  /* ------------------------------------------------------------------------ */

  --color-error: #f35248;
  --color-error-50: #fef3f2;
  --color-error-100: #ffe3e1;
  --color-error-200: #ffccc9;
  --color-error-300: #fea8a3;
  --color-error-400: #fb766e;
  --color-error-500: #f35248;
  --color-error-600: #e02d22;
  --color-error-700: #bc2319;
  --color-error-800: #9c2018;
  --color-error-900: #81211b;
  --color-error-950: #460d09;
  --color-error-content: #ffe3e1;

  /* ------------------------------------------------------------------------ */
  /* Warning */
  /* ------------------------------------------------------------------------ */

  --color-warning: #d97706;
  --color-warning-50: #fff6eb;
  --color-warning-100: #fee4c7;
  --color-warning-200: #fdc88a;
  --color-warning-300: #fcab4d;
  --color-warning-400: #fb9724;
  --color-warning-500: #f5880b;
  --color-warning-600: #d97706;
  --color-warning-700: #b46509;
  --color-warning-800: #92550e;
  --color-warning-900: #78470f;
  --color-warning-950: #452603;
  --color-warning-content: #fee4c7;

  /* ------------------------------------------------------------------------ */
  /* Disabled */
  /* ------------------------------------------------------------------------ */

  --color-disabled: #bdbdbd;
  --color-disabled-content: #404040;
}
