[data-theme="verpex"] {
  --color-core-canvas: #f5f9ff;
  --color-core-surface: #ffffff;
  --color-core-base: #1e4682;
  --color-core-display: #1e4682;
  --color-core-faint: #738395;
  --color-core-muted: #506078;

  --color-primary-default: #458eff;
  --color-primary-default-stop: #458eff;
  --color-primary-default-delta: #3886ff;
  --color-primary-default-contrast: #ffffff;
  --color-primary-muted: #f8f8fb;
  --color-primary-muted-contrast: #00baff;

  --color-secondary-default: #1dc4c9;
  --color-secondary-default-stop: #1dc4c9;
  --color-secondary-default-delta: #4dd1d5;
  --color-secondary-default-contrast: #ffffff;

  --color-neutral-default: #707070;
  --color-neutral-default-delta: #575757;
  --color-neutral-default-contrast: #ffffff;
  --color-neutral-muted: #f8f8fb;
  --color-neutral-muted-delta: #f2f2f9;
  --color-neutral-muted-contrast: #575757;
  --color-neutral-stroke: #eaeaf1;
  --color-neutral-stroke-delta: #cdcddb;

  --color-control-default: #458eff;
  --color-control-default-delta: #00baff;
  --color-control-default-contrast: #ffffff;
  --color-control-muted: #ffffff;
  --color-control-muted-contrast: #1e4682;
  --color-control-stroke: #eaeaf1;
  --color-control-stroke-delta: #eaeaf1;

  --color-promo-default: #1dc4c9;
  --color-promo-default-contrast: #ffffff;
  --color-promo-muted: #def6f7;
  --color-promo-muted-contrast: #20969b;

  --icon-primary: #1dc4c9;
  --icon-neutral: #1e4682;

  /* Strokes */
  --stroke-icon: 1.5px;

  /* Radius */
  --button-radius: 100px;
}
