[data-theme="upmind"] {
  /* Primitive Colors - Core */
  --color-core-canvas: #f9f9fc;
  --color-core-surface: #ffffff;
  --color-core-base: #3d3d3d;
  --color-core-display: #262626;
  --color-core-faint: #9d9da9;
  --color-core-muted: #89898a;
  --color-core-skeleton: #2626260c;
  --color-core-overlay: #3d3d3dcc;

  /* Primitive Colors - Control */
  --color-control-default: #262626;
  --color-control-default-delta: #1a1a1a;
  --color-control-default-contrast: #fefefe;
  --color-control-muted: #f8f8fb;
  --color-control-muted-contrast: #262626;
  --color-control-stroke: #e3e3eb;
  --color-control-stroke-delta: #d5d5de;

  /* Primitive Colors - Primary */
  --color-primary-default: #262626;
  --color-primary-default-stop: #262626;
  --color-primary-default-delta: #1a1a1a;
  --color-primary-default-contrast: #ffffff;
  --color-primary-muted: #f8f8fb;
  --color-primary-muted-contrast: #262626;

  /* Primitive Colors - Secondary */
  --color-secondary-default: #eaeaf1;
  --color-secondary-default-stop: #eaeaf1;
  --color-secondary-default-delta: #cdcddb;
  --color-secondary-default-contrast: #262626;

  /* Primitive Colors - Neutral */
  --color-neutral-default: #707070;
  --color-neutral-default-delta: #575757;
  --color-neutral-default-contrast: #ffffff;
  --color-neutral-muted: #f8f8fb;
  --color-neutral-muted-delta: #f2f2f9;
  --color-neutral-muted-contrast: #575757;
  --color-neutral-stroke: #eaeaf1;
  --color-neutral-stroke-delta: #cdcddb;

  /* Primitive Colors - Promo */
  --color-promo-default: #794dff;
  --color-promo-default-contrast: #ffffff;
  --color-promo-muted: #f7f5ff;
  --color-promo-muted-contrast: #794dff;

  /* Primitive Colors - Danger */
  --color-danger-default: #fa2f62;
  --color-danger-default-delta: #ef0640;
  --color-danger-default-contrast: #fff5f7;
  --color-danger-muted: #fff5f7;
  --color-danger-muted-contrast: #fa2f62;

  /* Primitive Colors - Warning */
  --color-warning-default: #ffc233;
  --color-warning-default-contrast: #523900;
  --color-warning-muted: #fff9eb;
  --color-warning-muted-contrast: #c28800;

  /* Primitive Colors - Success */
  --color-success-default: #00d88c;
  --color-success-default-contrast: #002c19;
  --color-success-muted: #e7fff1;
  --color-success-muted-contrast: #007d4f;

  /* Primitive Colors - Info */
  --color-info-default: #00acff;
  --color-info-default-contrast: #ffffff;
  --color-info-muted: #f0faff;
  --color-info-muted-contrast: #00acff;
}
