@theme {
  /* Button radius */
  --button-radius: 40px;

  /* Control radius */
  --control-radius: "8px";

  /* Badge radius */
  --badge-radius: "16px";

  /* Image radius */
  --image-radius: "16px";

  /* Card radius */
  --card-radius: "16px";

  /* Color - Primary/Secondary */
  --color-primary: #46fdae;
  --color-secondary: #c6fb4b;

  /* Color - Background */
  --color-background-canvas: #f4fdf3;
  --color-background-surface: #ffffff;
  --color-background-surface-glass: #fffffff2;
  --color-background-skeleton: #0d493d13;
  --color-background-overlay: #00000075;

  /* Color - Background - Control */
  --color-background-control-surface: #fefefe;
  --color-background-control-checked: #00c069;
  --color-background-control-checked-hover: #0d493d;
  --color-background-control-unchecked: #cdcddb;
  --color-background-control-unchecked-hover: #b2b2c2;
  --color-background-control-selected: #f1fbf0;

  /* Color - Background - Button */
  --color-background-button-primary-ring: #00c069;
  --color-background-button-primary-0: #46fdae;
  --color-background-button-primary-1: #c6fb4b;
  --color-background-button-primary-hover-0: #c6fb4b;
  --color-background-button-primary-hover-1: #c6fb4b;
  --color-background-button-secondary-ring: #0d493d;
  --color-background-button-secondary-0: #0d493d;
  --color-background-button-secondary-1: #0d493d;
  --color-background-button-secondary-hover-0: #122e2b;
  --color-background-button-secondary-hover-1: #575757;
  --color-background-button-neutral-ring: #262626;
  --color-background-button-neutral-0: #132828;
  --color-background-button-neutral-1: #132828;
  --color-background-button-neutral-hover-0: #1a1a1a;
  --color-background-button-neutral-hover-1: #1a1a1a;
  --color-background-button-subtle-ring: #0d493d;
  --color-background-button-subtle-0: #e8f5e6;
  --color-background-button-subtle-1: #e8f5e7;
  --color-background-button-subtle-hover-0: #e0f0df;
  --color-background-button-subtle-hover-1: #e0f0df;
  --color-background-button-danger-ring: #f46240;
  --color-background-button-danger-0: #f46240;
  --color-background-button-danger-1: #f46240;
  --color-background-button-danger-hover-0: #e7350d;
  --color-background-button-danger-hover-1: #e7350d;
  --color-background-button-danger-hover-2: #e7350d;
  --color-background-button-outline: transparent;
  --color-background-button-outline-hover: #e8f5e7;
  --color-background-button-outline-ring: #a1afad;
  --color-background-button-ghost: transparent;
  --color-background-button-ghost-hover: #f8f8fb;
  --color-background-button-ghost-ring: #a1afad;

  /* Color - Background - Accent */
  --color-background-accent-primary: #46fdae;
  --color-background-accent-promotion: #794dff;
  --color-background-accent-destructive: #f46240;
  --color-background-accent-subtle: #f1fbf0;
  --color-background-accent-info: #ffffff;
  --color-background-accent-caution: #ffffff;
  --color-background-accent-warning: #ffffff;
  --color-background-accent-danger: #ffffff;
  --color-background-accent-success: #ffffff;

  /* Color - Ring */
  --color-ring-control: #00c069;

  /* Color - Border */
  --color-border-surface: #d9f0d6;
  --color-border-base: #cfe5cc;

  /* Color - Border - Button */
  --color-border-button-outline: #e0f0df;
  --color-border-button-outline-hover: #e0f0df;

  /* Color - Border - Button - Control */
  --color-border-button-control-default: #e8e8e8;
  --color-border-button-control-hover: #bababa;
  --color-border-button-control-selected: #00c069;
  --color-border-button-control-active: #ffffff;

  /* Color - Icon */
  --color-icon-primary: #00c069;
  --color-icon-neutral: #132828;
  --color-icon-subtle: #bababa;

  /* Color - Text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff32;
  --color-text-white: #ffffff;
  --color-text-base: #132828;
  --color-text-display: #132828;
  --color-text-muted: #728884;
  --color-text-faint: #a1afad;
  --color-text-danger: #f46240;

  /* Color - Text - Control */
  --color-text-control-selected: #00c069;
  --color-text-control-checked: #ffffff;

  /* Color - Text - Accent */
  --color-text-accent-primary: #00c069;
  --color-text-accent-primary-contrast: #054d27;
  --color-text-accent-promotive: #6a38ff;
  --color-text-accent-promotive-contrast: #f7f5ff;
  --color-text-accent-destructive: #f46240;
  --color-text-accent-destructive-contrast: #ffffff;
  --color-text-accent-subtle: #728884;
  --color-text-accent-subtle-contrast: #728884;
  --color-text-accent-info: #ffffff;
  --color-text-accent-caution: #ffffff;
  --color-text-accent-warning: #ffffff;
  --color-text-accent-danger: #ffffff;
  --color-text-accent-success: #ffffff;

  /* Color - Text - Button */
  --color-text-button-primary: #0a1616;
  --color-text-button-secondary: #ffffff;
  --color-text-button-neutral: #ffffff;
  --color-text-button-subtle: #0d493d;
  --color-text-button-danger: #ffffff;
  --color-text-button-danger-link: #ff4013;
  --color-text-button-danger-link-hover: #ff3a0c;
  --color-text-button-outline: #0a1616;
  --color-text-button-ghost: #0a1616;
  --color-text-button-link: #0a1616;
  --color-text-button-link-hover: #00c069;
  --color-text-button-muted-link: #728884;
  --color-text-button-muted-link-hover: #0a1616;
}
