@import "./utilities/aria.css";
@import "./utilities/typography.css";
@import "./utilities/shadow.css";
@import "./utilities/button.css";
@import "./utilities/radius.css";
@import "./utilities/border.css";
@import "./utilities/size.css";
@import "./utilities/colors.css";

@layer utilities {
  .autofill:has(input:autofill) {
    @apply bg-[var(--bg-control-selected)];
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--bg-control-selected) inset !important;
    -webkit-text-fill-color: var(--color-text-control-selected) !important;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--bg-control-selected) inset !important;
    -webkit-text-fill-color: var(--color-text-control-selected) !important;
  }
}
