@layer utilities {
  /* Button Background Colors */
  .bg-button-primary-ring {
    background-color: var(--bg-button-primary-ring);
  }
  .bg-button-primary-0 {
    background-color: var(--bg-button-primary-0);
  }
  .bg-button-primary-1 {
    background-color: var(--bg-button-primary-1);
  }
  .bg-button-primary-hover-0 {
    background-color: var(--bg-button-primary-hover-0);
  }
  .bg-button-primary-hover-1 {
    background-color: var(--bg-button-primary-hover-1);
  }
  .bg-button-secondary-ring {
    background-color: var(--bg-button-secondary-ring);
  }
  .bg-button-secondary-0 {
    background-color: var(--bg-button-secondary-0);
  }
  .bg-button-secondary-1 {
    background-color: var(--bg-button-secondary-1);
  }
  .bg-button-secondary-hover-0 {
    background-color: var(--bg-button-secondary-hover-0);
  }
  .bg-button-secondary-hover-1 {
    background-color: var(--bg-button-secondary-hover-1);
  }
  .bg-button-neutral-ring {
    background-color: var(--bg-button-neutral-ring);
  }
  .bg-button-neutral-0 {
    background-color: var(--bg-button-neutral-0);
  }
  .bg-button-neutral-1 {
    background-color: var(--bg-button-neutral-1);
  }
  .bg-button-neutral-hover-0 {
    background-color: var(--bg-button-neutral-hover-0);
  }
  .bg-button-neutral-hover-1 {
    background-color: var(--bg-button-neutral-hover-1);
  }
  .bg-button-subtle-ring {
    background-color: var(--bg-button-subtle-ring);
  }
  .bg-button-subtle-0 {
    background-color: var(--bg-button-subtle-0);
  }
  .bg-button-subtle-1 {
    background-color: var(--bg-button-subtle-1);
  }
  .bg-button-subtle-hover-0 {
    background-color: var(--bg-button-subtle-hover-0);
  }
  .bg-button-subtle-hover-1 {
    background-color: var(--bg-button-subtle-hover-1);
  }
  .bg-button-danger-ring {
    background-color: var(--bg-button-danger-ring);
  }
  .bg-button-danger-0 {
    background-color: var(--bg-button-danger-0);
  }
  .bg-button-danger-1 {
    background-color: var(--bg-button-danger-1);
  }
  .bg-button-danger-hover-0 {
    background-color: var(--bg-button-danger-hover-0);
  }
  .bg-button-danger-hover-1 {
    background-color: var(--bg-button-danger-hover-1);
  }
  .bg-button-outline {
    background-color: var(--bg-button-outline);
  }
  .bg-button-outline-hover {
    background-color: var(--bg-button-outline-hover);
  }
  .bg-button-outline-ring {
    background-color: var(--bg-button-outline-ring);
  }
  .bg-button-ghost {
    background-color: var(--bg-button-ghost);
  }
  .bg-button-ghost-hover {
    background-color: var(--bg-button-ghost-hover);
  }
  .bg-button-ghost-ring {
    background-color: var(--bg-button-ghost-ring);
  }

  /* Button Radius */
  .button-radius {
    border-radius: var(--button-radius);
  }
}
