/*
 * Prose Theme Override
 *
 * This file overrides the default Tailwind Typography prose values with our design system variables.
 */

.prose {
  --tw-prose-headings: var(--color-core-base);
  --tw-prose-bold: var(--color-core-base);
  --tw-prose-links: var(--color-core-base);
  --tw-prose-quotes: var(--color-core-base);
  --tw-prose-quote-borders: var(--color-core-base);
  --tw-prose-captions: var(--color-core-base);
  --tw-prose-code: var(--color-core-base);
  --tw-prose-pre-code: var(--color-core-base);
  --tw-prose-pre-bg: var(--color-core-base);
}
