/*
 * This file creates purpose-driven text color utilities. The @utility directive creates CSS
 * classes while providing Tailwind ecosystem variants (e,g. hover:text-base).
 *
 * - @utility text-base → Creates only .text-base class, supports Tailwind variants
 * - @theme text-base → Creates .text-base, .bg-text-base, .border-text-base, etc. (avoid, causes conflicts and design inconsistencies)
 * - .text-base → Creates .text-base class, no Tailwind variants
 * - --text-base (within @theme) → Creates many classes, such as bg-text-base (avoid, causes conflicts and design inconsistencies)
 */

/* Main Variants */
@utility text-base {
  color: var(--text-base);
}
@utility text-primary {
  color: var(--text-primary);
}
@utility text-display {
  color: var(--text-display);
}
@utility text-faint {
  color: var(--text-faint);
}
@utility text-muted {
  color: var(--text-muted);
}
@utility text-tooltip {
  color: var(--text-tooltip);
}

@utility text-control-default {
  --color-control-default: var(--color-control-default);
}
@utility text-control-selected {
  color: var(--text-control-selected);
}
@utility text-control-checked-contrast {
  color: var(--bg-control-checked-contrast);
}

@utility text-button-primary {
  color: var(--text-button-primary);
}
@utility text-button-secondary {
  color: var(--text-button-secondary);
}
@utility text-button-neutral {
  color: var(--text-button-neutral);
}
@utility text-button-subtle {
  color: var(--text-button-subtle);
}
@utility text-button-danger {
  color: var(--text-button-danger);
}
@utility text-button-danger-link {
  color: var(--text-button-danger-link);
}
@utility text-button-danger-link-hover {
  color: var(--text-button-danger-link-hover);
}
@utility text-button-outline {
  color: var(--text-button-outline);
}
@utility text-button-ghost {
  color: var(--text-button-ghost);
}
@utility text-button-link {
  color: var(--text-button-link);
}
@utility text-button-link-hover {
  color: var(--text-button-link-hover);
}
@utility text-button-muted-link {
  color: var(--text-button-muted-link);
}
@utility text-button-muted-link-hover {
  color: var(--text-button-muted-link-hover);
}

/* Text Accent Colors */
@utility text-accent-primary {
  color: var(--text-accent-primary);
}
@utility text-accent-primary-muted-contrast {
  color: var(--text-accent-primary-muted-contrast);
}
@utility text-accent-primary-contrast {
  color: var(--text-accent-primary-contrast);
}
@utility text-accent-neutral {
  color: var(--text-accent-neutral);
}
@utility text-accent-neutral-muted-contrast {
  color: var(--text-accent-neutral-muted-contrast);
}
@utility text-accent-neutral-contrast {
  color: var(--text-accent-neutral-contrast);
}
@utility text-accent-promo {
  color: var(--text-accent-promo);
}
@utility text-accent-promo-muted-contrast {
  color: var(--text-accent-promo-muted-contrast);
}
@utility text-accent-promo-contrast {
  color: var(--text-accent-promo-contrast);
}
@utility text-accent-danger {
  color: var(--text-accent-danger);
}
@utility text-accent-danger-muted-contrast {
  color: var(--text-accent-danger-muted-contrast);
}
@utility text-accent-danger-contrast {
  color: var(--text-accent-danger-contrast);
}
@utility text-accent-warning {
  color: var(--text-accent-warning);
}
@utility text-accent-warning-muted-contrast {
  color: var(--text-accent-warning-muted-contrast);
}
@utility text-accent-warning-contrast {
  color: var(--text-accent-warning-contrast);
}
@utility text-accent-success {
  color: var(--text-accent-success);
}
@utility text-accent-success-muted-contrast {
  color: var(--text-accent-success-muted-contrast);
}
@utility text-accent-success-contrast {
  color: var(--text-accent-success-contrast);
}
@utility text-accent-info {
  color: var(--text-accent-info);
}
@utility text-accent-info-muted-contrast {
  color: var(--text-accent-info-muted-contrast);
}
@utility text-accent-info-contrast {
  color: var(--text-accent-info-contrast);
}

/* Icons */
@utility text-icon-primary {
  color: var(--icon-primary);
}
@utility text-icon-neutral {
  color: var(--icon-neutral);
}

.icon svg path {
  vector-effect: non-scaling-stroke;
  stroke-width: var(--stroke-icon, 2px);
}
